*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
  font-family: 'Inter', sans-serif;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 34px 120px;
}
.navber{
    width: 1360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: greenyellow; */
}
.nav-menu{
    display: flex;
    gap: 32px;
}
.nav-menu a{
    font-size: 16px;
    font-weight: 500;
    line-height: 152%;
    text-decoration: none;
    color: black;
}
.nav-menu a:hover{
    color:#30B868;
    cursor: pointer;
}
.nav-menu li{
    list-style:none ;
}
.nav-btn{
    padding: 16px 12px;
    border: none;
    border-radius: 4px;
    background-color: #30B868;
    font-style: Semi Bold;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    color: white;
}
.nav-btn:hover{
    background-color: white;
    color: #30B868;
    cursor: pointer;
}
.circle{
    height: 16px;
    width: 16px;
    background-color: #30B868;
    border-radius: 50%;
}
.head-content{
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: white;
    padding: 8px 12px;
    border-radius: 28px;
    margin-bottom: 16px;

}
.open{
    color: #30B868;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}
.hero-title{
    color: white;
    font-style: Bold;
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
}
.color{
    color: #30B868;
}
.hero-description{
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 32px;
    margin-top: 18px;
    text-align: center;
}
.hero-content-wrapper{
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    width: 1340px;
    border: 1px solid black;

}
.hero-section{
    background-image: url('./assets/hero-bg.png');
    display: flex;
    justify-content: center;
    background-size: cover;   
    background-size: contain; 
    background-size: 100% 100%; 
    background-repeat: no-repeat; 
    background-repeat: repeat-x;  
    background-repeat: repeat-y; 
}
.button-wrapper{
    display: flex;
    gap: 20px;
}
.hero-btn{
    background-color: transparent;
    color: white;
    border: 1px solid white;
}
.card-section{
    display: flex;
    justify-content: center;

}
.card-title{
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    margin-top: 44px;
    margin-bottom: 18px;
}
.card-discription{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 44px;
}
.card-content-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.card-logo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(249, 85, 85, 1);
}
.card{
    width: 322px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
